$main-color: #FFB36A
$second-color: #9FCBDA
$second-color-darken: #1E4B60
$third-color: #4B5D67
$text-color: #0D3049
$background-color: #F6F6F6
$red: #ED5564
$blue: #268AFF
$grey: #606060
$border-grey: #DADCE0
